.custom-wishlist-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s ease;
    flex-direction: row-reverse;
    bottom: 0;
    justify-content: space-between;
    overflow: hidden;

}


.custom-wishlist-btn .wishlist-icon {
    width: 25px;
    height: 25px;
    display: block;
    transition: all .5s linear;
}

.custom-wishlist-btn .wishlist-icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: all .5s ease-in-out;
}


.custom-wishlist-btn:hover svg {
    transform: scale(1.2);
}

.custom-wishlist-btn.added:hover svg {
    transform: scale(1);
}

.custom-wishlist-btn .wishlist-icon svg path {
    stroke: #fff;
}

.custom-wishlist-btn.added .wishlist-icon svg path {
    stroke: #b6713d;
}

.shop-page-products-wrapper .single-product figure:hover button.custom-wishlist-btn {
    /* background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px); */
}

.wishlist-text {
    font-size: 12px;
    color: #fff;
    line-height: 1;
    width: max-content;
    /* position: absolute;
    top: -15px; */
    transform: translateX(-120%);
    opacity: 0;
    transition: all .5s ease-in-out;
    z-index: 5;
}

.shop-page-products-wrapper .single-product figure:hover button.custom-wishlist-btn .wishlist-text {
    transform: translateX(0);
    opacity: 1;
}

/* .custom-wishlist-btn .wishlist-icon {
    color: #e74c3c;
    font-size: 16px;
    transition: transform 0.2s ease;
} */

/* .custom-wishlist-btn:hover {
    background-color: #f9f9f9;
    border-color: #ccc;
} */

/* .custom-wishlist-btn.added {
    background-color: #ffe6e6;
    border-color: #e74c3c;
} */

/* .custom-wishlist-btn.added .wishlist-icon {
    transform: scale(1.2);
} */

.custom-wishlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

/* .custom-wishlist-btn {
    display: block;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s ease;
    right: 10px;
    bottom: 10px;
} */

.wishlist-item {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s linear;
}

.wishlist-item:hover {
    border-color: var(--theme-color-accent);
}

.wishlist-item img {
    max-width: 100%;
    height: auto;
}

.wishlist-info {
    text-align: center;
    margin-top: 8px;
}

.wishlist-info h2 {
    font-size: 16px;
    margin: 4px 0;
}

.wishlist-info .price {
    font-weight: bold;
    color: #333;
}

.wishlist-cart-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.wishlist-info .custom-wishlist-btn {
    margin-top: 6px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

/*СТРАНИЦА ИЗБРАННОЕ*/
.cart-flex__row.wishlist-item {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

.cart-flex__row.wishlist-item .cart-flex__col.cart-flex__col--product {
    width: 40%;
    max-width: unset;
}

.wishlist-item .product-remove {
    width: 25px;
    height: 25px;
}

.wishlist-item .product-remove .custom-wishlist-btn {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
}

.wishlist-item .product-remove .custom-wishlist-btn .wishlist-icon {
    width: 100%;
    height: 100%;
}

.wishlist-item .product-remove .custom-wishlist-btn .wishlist-icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.wishlist-cart-actions .button {
    padding: 7px 20px;

    display: block;
    max-width: max-content;
    color: #fff;
    border-radius: 5px;
    transition: all .5s linear;
}

.button.wishlist-in-cart {
    background: var(--theme-color-accent);
}

.button.wishlist-in-cart:hover {
    background: var(--theme-color-beige);
    color: var(--theme-color-accent);
}

.wishlist-cart-actions .button.add_to_cart_button {
    background: var(--theme-color-beige);
    color: var(--theme-color-accent);
}

.wishlist-cart-actions .button.add_to_cart_button :hover {
    background: var(--theme-color-accent);
    color: #fff;
}

.empty-wl {
    background: transparent;
    border: none;
    position: relative;
    font-size: 24px;
    color: #343434;
    text-align: center;
    padding: 50px 0;

}

.empty-wl:after {
    content: '';
    height: 2px;
    width: 150px;
    background: var(--theme-color-accent);
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 75px);
}