.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 25%;
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 73%;
}

.woocommerce-MyAccount-content h3 {
    font-size: 24px;
    font-weight: 400;
}

.woocommerce-MyAccount-navigation a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(100% - 20px);
}

.account-menu-icon svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.woocommerce-MyAccount-navigation {
    padding: 30px 20px;
}

.woocommerce-MyAccount-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.woocommerce-MyAccount-navigation-link>svg {
    width: 10px;
    height: 10px;
    object-position: center;
    object-fit: contain;
    display: none;
    transform: rotate(-90deg);
    transition: all .5s linear;
}

.woocommerce-MyAccount-navigation-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.woocommerce-MyAccount-navigation a svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
}

.woocommerce-MyAccount-navigation a span {
    color: #343434;
}

.woocommerce-MyAccount-navigation {
    padding: 30px 20px;
    background: #f5f5f5;
}

.woocommerce-MyAccount-navigation-link.is-active a span {
    color: var(--theme-color-accent);
}

.woocommerce-MyAccount-navigation-link.is-active a span.nav-icon svg path {
    fill: var(--theme-color-accent);
}

.woocommerce-MyAccount-content h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: "Avenir", sans-serif;
}

.woocommerce-MyAccount-content h3 a {
    color: var(--theme-color-primary);
}

.my-order__title {
    background: #f5f5f5;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-order__title h3 {
    font-size: 24px;
    margin: 0;
    color: #898989;
}

.my-order__title h3 a {
    color: #898989;
    font-size: 24px;
}

.my-order__title__right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.my-order__title__right svg {
    width: 15px;
    height: 15px;
    object-fit: contain;
    object-position: center;
    transition: all .2s linear;
}

.my-order.is-open .my-order__title .my-order__title__right svg {
    transform: rotate(90deg);
}

.my-order__item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 20px 0;
}

.my-order__item-left {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 35%;
}

.my-order__item-right {
    display: flex;
    width: calc(100% - 106px);
    gap: 10px;
}

.my-order__item-name {
    font-weight: 600;
    color: var(--theme-color-accent);
}

.my-order__item-sku {
    font-size: 13px;
    color: #666;
}

.my-order__items {
    display: flex;
    flex-direction: column;
}

.my-order__items .my-order__item {
    border-bottom: 2px solid #f5f5f5;
}

.my-order__item-img {
    width: 96px;
    height: 96px;
}

.my-order__item-info {
    width: calc(100% / 5);
    display: flex;
    min-width: 170px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.my-order__item-info {
    justify-content: center;
}

.my-order__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.my-order__item-right .my-order__item-right__item {
    flex-grow: 1;
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.my-order__item-right__item p {
    margin: 0;
}

.my-order__item-right__item {
    color: #898989;
}

.my-order__item-right__item._total span {
    color: var(--theme-color-accent);
    font-weight: 600;
}

.my-order__item-right__item._total span span {
    font-size: 14px;
    font-weight: 600;
}

.my-order__item-right__item p.label {
    color: #343434;
    font-weight: 600;
}

.my-order__item-right__item._item-view a {
    display: block;
    text-align: center;
    width: 100%;
    background: var(--theme-color-accent);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: all .5s linear;
}

.my-order__item-right__item._item-view a:hover {
    background: var(--theme-color-beige);
    color: var(--theme-color-primary);
}

.my-order__summary {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.my-order__summary-item {
    width: calc(100% / 5);
}

.my-order__summary-item p.label {
    color: #343434;
    font-weight: 600;
    margin: 0;
}

.my-order__summary-item {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.my-order__summary-item._discount span span.amount,
.my-order__summary-item span.amount span {
    font-weight: 400;
    color: #898989;
}

.my-order__summary-item._status {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    width: 30%;
}

.my-order__summary-item span {
    color: #898989;
}

.my-order__summary-item._status svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
}

.my-order__summary-item._status span {
    font-weight: 600;
    color: #B6713D;
}

.my-account-orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.woocommerce-MyAccount-content>h3 {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .woocommerce-account .woocommerce-MyAccount-navigation {
        float: unset;
        width: 100%;
        margin-bottom: 30px;
    }

    .woocommerce-account .woocommerce-MyAccount-content {
        width: 100%;
    }

    .woocommerce-MyAccount-navigation ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }

    .woocommerce-MyAccount-navigation {
        padding: 20px;
    }

    .woocommerce-MyAccount-navigation-link>svg {
        display: block;
    }

    .woocommerce-MyAccount-navigation-link.is-active>svg {
        transform: rotate(0);
    }

    .woocommerce-MyAccount-navigation-link.is-active {
        order: 1;
    }

    .woocommerce-MyAccount-navigation-link {
        order: 3;
    }

    .woocommerce-MyAccount-navigation ul li {
        display: none;
    }


    .woocommerce-MyAccount-navigation ul li.is-active {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }

    .woocommerce-MyAccount-navigation ul.show>li {
        display: flex;
    }

    .woocommerce-MyAccount-content>h3 {
        display: none;
    }

    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row.wishlist-item {
        flex-direction: column;
        width: calc(100% / 3);
        padding: 10px;
        border: 1px solid #dddbda;
        border-radius: 3px;
        flex-wrap: wrap;
    }

    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row.wishlist-item .cart-flex__col.cart-flex__col--product {
        width: 100%;
    }

    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row.wishlist-item .cart-product-item .cart-product-item__summary {
        width: 100%;
    }

    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row.wishlist-item .cart-product-item .product-thumb {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .woocommerce-MyAccount-content .cart-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .woocommerce-MyAccount-content .cart-flex.woocommerce-cart-form__contents .cart.flex__category {
        width: 100%;
    }

    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row.wishlist-item .cart-flex__col .cart-product-item {
        flex-direction: column;
    }

    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row .cart-flex__col--price {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row.wishlist-item .cart-flex__col.cart-flex__col--total,
    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row.wishlist-item .cart-flex__col.cart-flex__col--total .wishlist-cart-actions,
    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row.wishlist-item .cart-flex__col.cart-flex__col--total .wishlist-cart-actions a {
        width: 100%;
        display: block;
        max-width: 100%;
    }

    .woocommerce-MyAccount-content .woocommerce-cart-form__contents .cart-flex__row .product-remove {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .cart-flex__category {
        background: #f5f5f5;
        padding: 30px 20px;
        font-size: 26px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .my-order__item-right {
        flex-wrap: wrap;
    }

    .my-order__item-info {
        width: 100%;
    }

    .my-order__item-img {
        width: 170px;
        height: auto;
        aspect-ratio: 1/1;
    }

    .my-order__item-right {
        width: calc(100% - 180px);
    }

    .my-order__item-right .my-order__item-right__item._total {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .my-order__item-right .my-order__item-right__item {
        flex-direction: row;
        justify-content: flex-start;
    }

    .my-order__item-right .my-order__item-right__item {
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: unset;
    }

    .my-order__item-right .my-order__item-right__item._item-view {
        display: none;
    }

    .my-order__item-right {
        width: calc(100% - 180px);
        align-items: center;
    }

    /* .woocommerce-MyAccount-navigation a {
        flex-direction: column;
    }

    .woocommerce-MyAccount-content h3 {
        text-align: center;
        margin-top: 30px;
    } */
}

@media (max-width: 480px) {

    .woocommerce-MyAccount-navigation ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }

    /* .woocommerce-MyAccount-navigation ul li {
        width: calc(100% / 3 - 10px);
    } */

    .my-order__item-right__item._weight,
    .my-order__item-right__item._qty {
        min-width: max-content;
    }

    .my-order__item-img {
        width: 130px;
    }

    .my-order__item-right {
        width: calc(100% - 140px);
        align-items: center;
    }

    .my-order__summary {
        flex-wrap: wrap;
    }

    .my-order__summary .my-order__summary-item {
        width: calc(50% - 5px);
        flex-direction: row;
        order: 1;
    }

    .my-order__summary-item._status {
        order: 5;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }

    .my-order__summary-item {
        align-items: center;
    }

    .my-order__title {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }

    .my-order__title__right svg {
        position: absolute;
        right: 20px;
        top: calc(50% - 7.5px);
    }


    .my-order__summary div:nth-child(3),
    .my-order__summary div:nth-child(5) {
        justify-content: flex-end;
    }

    .my-order__summary-item._discount span .woocommerce-Price-amount.amount {
        font-size: 16px;
    }
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: 2px solid var(--theme-color-beige);
    padding: 20px;
    margin: 0;
    text-align: left;
    border-radius: 5px;
}

.woocommerce-form.woocommerce-form-login .form-row {
    display: flex;
    flex-direction: column;
}

.page-content h2.form-login {
    text-align: center;
}

/*СПИСОК ЗАКАЗОВ*/

.my-order__items {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.my-order.is-open .my-order__items {
    max-height: 2000px;
    /* заведомо больше реальной высоты */
}