.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 25%;
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 73%;
}

.woocommerce-MyAccount-content h3 {
    font-size: 24px;
    font-weight: 400;
}

.woocommerce-MyAccount-navigation a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-menu-icon svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.woocommerce-MyAccount-navigation {
    padding: 30px 20px;
}

.woocommerce-MyAccount-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.woocommerce-MyAccount-navigation a svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
}

.woocommerce-MyAccount-navigation a span {
    color: #343434;
}

.woocommerce-MyAccount-navigation {
    padding: 30px 20px;
    background: #f5f5f5;
}

.woocommerce-MyAccount-navigation-link.is-active a span {
    color: var(--theme-color-accent);
}

.woocommerce-MyAccount-navigation-link.is-active a span.nav-icon svg path {
    fill: var(--theme-color-accent);
}

.woocommerce-MyAccount-content h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: "Avenir", sans-serif;
}

.woocommerce-MyAccount-content h3 a {
    color: var(--theme-color-primary);
}

.my-order__title {
    background: #f5f5f5;
    padding: 30px 20px;
    font-size: 26px;
}

.my-order__item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 20px 0;
}

.my-order__item-left {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 35%;
}

.my-order__item-right {
    display: flex;
    width: 60%;
    gap: 10px;
}

.my-order__item-name {
    font-weight: 600;
    color: var(--theme-color-accent);
}

.my-order__item-sku {
    font-size: 13px;
    color: #666;
}

.my-order__items {
    display: flex;
    flex-direction: column;
}

.my-order__items .my-order__item {
    border-bottom: 2px solid #f5f5f5;
}

.my-order__item-img {
    width: 96px;
    height: 96px;
}

.my-order__item-info {
    width: calc(100% - 116px);
}

.my-order__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.my-order__item-right .my-order__item-right__item {
    flex-grow: 1;
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.my-order__item-right__item p {
    margin: 0;
}

.my-order__item-right__item {
    color: #898989;
}

.my-order__item-right__item._total span {
    color: var(--theme-color-accent);
    font-weight: 600;
}

.my-order__item-right__item._total span span {
    font-size: 14px;
    font-weight: 600;
}

.my-order__item-right__item p.label {
    color: #343434;
    font-weight: 600;
}

.my-order__item-right__item._item-view a {
    display: block;
    text-align: center;
    width: 100%;
    background: var(--theme-color-accent);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: all .5s linear;
}

.my-order__item-right__item._item-view a:hover {
    background: var(--theme-color-beige);
    color: var(--theme-color-primary);
}

.my-order__summary {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.my-order__summary-item {
    width: calc(100% / 5);
}

.my-order__summary-item p.label {
    color: #343434;
    font-weight: 600;
    margin: 0;
}

.my-order__summary-item {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.my-order__summary-item._discount span span.amount,
.my-order__summary-item span {
    font-weight: 400;
    color: #898989;
}

.my-order__summary-item._status {
    align-items: center;
    justify-content: center;
}

.my-order__summary-item._status span {
    font-weight: 600;
    color: var(--theme-color-accent);
}

.woocommerce-MyAccount-content h3 {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .woocommerce-account .woocommerce-MyAccount-navigation {
        float: unset;
        width: 100%;
    }

    .woocommerce-account .woocommerce-MyAccount-content {
        width: 100%;
    }

    .woocommerce-MyAccount-navigation ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
    }

    .woocommerce-MyAccount-navigation a {
        flex-direction: column;
    }

    .woocommerce-MyAccount-content h3 {
        text-align: center;
        margin-top: 30px;
    }
}

@media (max-width: 480px) {

    .woocommerce-MyAccount-navigation ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }

    .woocommerce-MyAccount-navigation ul li {
        width: calc(100% / 3 - 10px);
    }
}