/* .wc-block-components-sidebar-layout.wc-block-cart {
    padding-top: 0;
    flex-direction: column;
}

.wc-block-components-sidebar-layout .wc-block-components-main {
    box-sizing: border-box;
    margin: 0;
    padding-right: 0;
    width: 100%;
}

.wc-block-components-sidebar {
    box-sizing: border-box;
    padding-left: 0;
    width: 100%;
}

.wc-block-cart-item__wrap {
    display: flex;
    gap: 20px;
} */

.mini-cart-icon {
    width: 30px;
    height: 30px;
    position: relative;
}

.shopping-cart-icon {
    width: 100%;
    height: 100%;
}

.shopping-cart-icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.mini-cart-icon .cart-count {
    background: var(--theme-color-beige);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: -10px;
}

.checkout-steps__list {
    display: flex;
    gap: 0;
    background: #fcfcfc;
    width: 100%;
}

.checkout-steps__list li {
    flex-grow: 1;
    text-align: center;

}

.checkout-steps__list li a {
    font-size: 20px;
    color: #979797;
    padding: 20px;
    display: block;
    transition: all .5s linear;
}

.checkout-steps__list li a.active,
.checkout-steps__list li a:hover {
    background: var(--theme-color-beige);
    color: var(--theme-color-primary);
}

.checkout-steps {
    margin-bottom: 30px;
}

/*flex table*/

.cart-flex {
    width: 100%;
    display: block;
}

.cart-flex__head,
.cart-flex__row {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-flex__head {
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}

.cart-flex__row {
    position: relative;
    padding: 20px 0;
}

.cart-flex__col {
    flex: 1;
}

.cart-flex__col--product {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-product-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.cart-product-item .cart-product-item__summary {
    width: calc(100% - 107px);
    line-height: 120%;
}

.cart-flex__category {
    background: #f5f5f5;
    padding: 30px 20px;
    font-size: 26px;
}

.cart-product-item__name {
    width: calc(100% - 107px);
    text-align: left;
}

.cart-product-item .product-thumb {
    width: 97px;
    height: 97px;
}

.cart-product-item .product-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-product-item a.product-name {
    font-weight: 600;
    color: var(--theme-color-accent);
}

.cart-product-item__name .product-sku {
    color: #898989;
    margin-top: 10px;
}

.cart-flex__col.cart-flex__col--price .price .amount {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #898989;
}

.cart-flex__col__label {
    color: #343434;
    font-weight: 600;
    text-align: left;
}

.cart-flex__col .price .amount bdi {
    text-align: center;
    display: flex;
    /* justify-content: center; */
}

.cart-flex__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    ;
    align-items: flex-start;
    gap: 10px;
}

.cart-flex__col.cart-flex__col--price .price .amount bdi span {
    color: #898989;
}

.cart_item__inner {
    display: flex;
    width: calc(100% - 350px);
}

.cart-flex__col.cart-flex__col--total {
    min-width: max-content;
}

.cart-flex__col.cart-flex__col--total .price span bdi {
    font-weight: 600;
    font-size: 24px;
}

.cart-product-item__name a {
    font-weight: 600;
}

.checkout-products-block h3 {
    background: #f5f5f5;
    padding: 30px 20px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid #cfc8d8;
    padding: 20px;
    margin: 0;
    text-align: left;
    border-radius: 0 0 5px 5px;
}

.review-order .review-order__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d3d1d0;
}

.review-order .review-order__row .review-order__col:first-child {
    font-weight: 600;
    color: #343434;
}

.review-order .review-order__row .review-order__col:nth-child(2) {
    color: #343434;
    font-weight: 400;
    font-size: 16px;
}

.review-order__row .review-order__col .amount bdi {
    font-size: 16px;
    color: #343434;
}

.checkout.woocommerce-checkout {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
    width: 100%;
}

.checkout.woocommerce-checkout .checkout-order-fields {
    width: 62%;
}

.checkout.woocommerce-checkout .order-details-area-wrap {
    width: 34%;
}

.review-order__col .woocommerce-Price-amount.amount {
    display: flex;
    align-items: center;
}

.review-order__col .woocommerce-Price-amount.amount bdi span {
    color: var(--theme-color-primary);
}

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
    list-style: none outside;
    padding: 0;
    padding-bottom: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 5px;
}

.woocommerce-mini-cart-item {
    border-bottom: 1px solid #f0f0f0;
}

.woocommerce-mini-cart-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    justify-content: flex-start;
}

.woocommerce-mini-cart-item .product-thumb {
    width: 70px;
    height: 70px;
}

.woocommerce-mini-cart-item .product-thumb a {
    width: 100%;
    height: 100%;
    display: block;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.woocommerce-mini-cart-item .product-details h2 {
    margin: 0;
    margin-bottom: 10px;
}

.woocommerce-mini-cart-item .product-details h2 a {
    font-size: 16px;
    font-weight: 600;
    color: #343434;
    text-align: left;
    margin: 0;
    margin: 0;
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
    padding: 10px;
    margin: 0;
    list-style: none;
    background: #f5f5f5;
}

.prod-cal .price-base {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.price-discounted p {
    margin-bottom: 0;
}

.price-base._old {
    position: absolute;
    line-height: 1;
    top: -14px;
    right: -10px;
    opacity: .5;
}

.price-base._old .amount bdi {
    font-size: 12px;
}

.price-base._old::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #343434;
    display: block;
    position: absolute;
    top: 9px;
}

.price-base._old .amount bdi span {
    font-size: 10px;
}

.price-base span bdi span {
    font-size: 14px;
    font-weight: 400;
}

.price-base .price,
.price-base .price .woocommerce-Price-amount.amount {
    font-size: 16px;
    color: var(--theme-color-primary);
    line-height: 1;
}

.price-base span bdi,
.price-base {
    color: var(--theme-color-primary);
    font-size: 16px;
    font-weight: 600;
}

.prod-cal .price-base .product-total {
    text-align: right;
    color: var(--theme-color-accent);
    font-size: 24px;
}

.prod-cal .product-total {
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    color: var(--theme-color-accent);
}

.woocommerce-mini-cart-item .remove.remove_from_cart_button {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove.remove_from_cart_button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.woocommerce-mini-cart-item .product-details .quantity {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.woocommerce-mini-cart-item .product-details .quantity del {
    background: #b0b0b0;
    line-height: 1;
    padding: 3px;
    color: #fff;
    z-index: 1;
    width: max-content;
    display: block;
}

.woocommerce-mini-cart-item .product-details .quantity del span bdi {
    display: flex;
    font-weight: 600;
    color: #fff;
    font-size: 10px;
}

.woocommerce-mini-cart-item .product-details .quantity ins span bdi {
    font-size: 18px;
    color: #343434;
    text-decoration: none;
}

.woocommerce ul.cart_list li::before {
    content: none;
}

.cart_list.product_list_widget .woocommerce-mini-cart li::after {
    content: none;
}

.woocommerce-mini-cart-item .product-details .quantity ins {
    line-height: 1;
    text-decoration: none;
}

.woocommerce-mini-cart-item .product-details .quantity ins span {
    font-size: 14px;
}

.widget_shopping_cart_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.minicart-btn-group {
    margin-bottom: 0;
}

.minicart-btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.minicart-btn-group a.btn {
    font-size: 16px;
}

.minicart-btn-group a.btn:nth-child(2) {
    border: 2px solid var(--theme-color-primary);
    background: transparent;
    color: var(--theme-color-primary);
}

/* 
.woocommerce-mini-cart-item .product-details {
    width: calc(100% - 85px);
} */

.woocommerce-mini-cart-item .product-details {
    flex-grow: 1;
}

.price-discounted {
    display: flex;
    line-height: 1;
    align-items: flex-end;
    gap: 10px;
    justify-content: space-between;
}

.woocommerce a.remove:hover {
    background: #898989;
}

.woocommerce a.remove svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.woocommerce a.remove:hover svg {
    transform: scale(1.05);
}

.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 24px;
    width: 24px;
    padding: 4px;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: var(--wc-red) !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s linear;
}

.product-remove a svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.woocommerce a.remove:hover svg path {
    stroke: #fff;
}

.cart-totals {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
}

.cart-totals__info__item p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
    color: #898989;
}

.cart-totals .cart-totals__info__item span {
    font-size: 16px;
    color: #343434;
    font-weight: 600;
}

/* .cart-totals__info {
    flex: 1;
    flex-grow: 1;
} */

.cart-totals__info__item p span bdi {
    font-size: 18px;
    font-weight: 400;
    color: #898989;
}

li.cart-totals__info__item p strong span bdi .woocommerce-Price-currencySymbol,
li.cart-totals__info__item p span bdi .woocommerce-Price-currencySymbol {
    font-weight: 300;
    color: #898989;
}

.cart-totals__info__item p span bdi {
    font-size: 18px;
    font-weight: 400;
    color: #898989;
}

.cart-totals__info {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-right: 0;
    gap: 10px;
    justify-content: space-between;
}

.cart-totals__info li {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.cart-discount p span.amount {
    font-size: 18px;
    color: #898989;
    font-weight: 400;
}

.cart-totals__info__item>span {
    font-weight: 600;
}

.cart-totals .cart-coupon-update-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 340px;
    max-width: 340px;
    margin-top: 0;
}

.cart-flex__col.cart-flex__col--product {
    width: 340px;
    max-width: 340px;
}

.cart-totals .cart-coupon-update-area .coupon-form-wrap {
    width: 100%;
}

.coupon-form-wrap button {
    width: 40px;
    height: 40px;
    position: absolute;
    padding: 5px;
    opacity: .7;
    transition: all .5s linear;
}

.coupon-form-wrap button span {
    display: none;
    opacity: 0;
    line-height: 1;
    text-align: center;
    position: absolute;
    left: -130px;
    width: max-content;
    top: 35%;
    display: block;
    transform: translateX(10px);
    transition: all .5s linear;
}

.coupon-form-wrap button:hover {
    border-color: #898989;
    opacity: 1;
}

.coupon-form-wrap button:hover span {
    transform: translateX(0);
    opacity: 1;
}

.coupon-form-wrap button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}



/* .coupon-form-wrap button span {
    display: none;
} */

.cart-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 40px;
}

.cart_totals .cart-coupon-update-area {
    width: 340px;
    max-width: 340px;
    margin-top: 0;
}

.cart-buttons a.checkout-button {
    background: var(--theme-color-accent);
    transition: all .5s linear;
}

.cart-buttons a.checkout-button:hover {
    background: var(--theme-color-beige);
}

.cart-buttons a.cart-button {
    background: transparent;
    color: var(--theme-color-accent);
    border: 1px solid var(--theme-color-accent);
    transition: all .5s linear;
}

.cart-buttons a.cart-button:hover {
    background: var(--theme-color-beige);
    border-color: var(--theme-color-beige);
}

.cart-buttons .cart-update-buttons {
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: #898989;
}

.cart-select-toolbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: 600;
}

#remove-selected {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

#remove-selected svg {
    width: 15px;
    height: 15px;
    object-fit: contain;
    object-position: center;
}

#remove-selected span {
    font-weight: 600;
    color: var(--theme-color-primary);
}

.cart-flex__col.cart-flex__col--product.checkout-products-block__contents__product {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-flex__col.cart-flex__col--product.checkout-products-block__contents__product img {
    width: 90px;
    aspect-ratio: 1/1;
}

.checkout-products-block__contents .cart-flex__row .cart-flex__col--qty {
    align-items: center;
    justify-content: center;
}

.checkout-products-block__contents .cart-flex__row .cart-flex__col p {
    margin: 0;
}

.checkout-products-block__contents .cart_item .cart-flex__col--total {
    align-items: flex-end;
}

.checkout-products-block__contents__product .cart-product-item__name .product-sku {
    margin: 0;
}

.checkout-products-block__contents__product .cart-product-item__name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout-products-block__contents__product .cart-product-item__name {
    color: var(--theme-color-accent);
    font-weight: 600;
    line-height: 120%;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    background: var(--theme-color-accent);
    padding: 7px 20px;
}

.checkout-section__title {
    background: #f5f5f5;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* .woocommerce-shipping-methods input[type="radio"] {
    display: none;
}

.woocommerce-shipping-methods label {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

.woocommerce-billing-fields__field-wrapper {
    margin-bottom: 30px;
}

.woocommerce-shipping-methods input:checked+label {
    border-color: #8B4512;
    background: #faf4ef;
} */

@media (max-width: 768px) {

    .cart-flex__col.cart-flex__col--product {
        /* width: 100%;
        flex: unset;
        max-width: 100%; */
    }

    .cart-flex__row .product-remove {
        position: absolute;
        right: 0;
        top: 20px;
    }

    .cart-totals {
        flex-direction: column;
    }

    .cart-totals .cart-coupon-update-area {
        width: 100%;
        max-width: 100%;
    }

    .cart-totals__info {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        width: 100%;
        background: #f5f5f5;
        padding: 10px;
    }

    .cart-totals__info {
        flex-direction: column;
    }

    .cart-totals__info .cart-totals__info__item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .cart-totals__info .cart-totals__info__item:not(:last-child) {
        border-bottom: 1px dotted #898989;
        padding-bottom: 10px;
    }

    .cart-totals__info__item p {
        margin-top: 0;
    }

    .cart-flex__col.cart-flex__col--product {
        width: auto;
        max-width: unset;
    }

    .cart-flex__col.cart-flex__col--product {
        width: 30%;
        max-width: unset;
    }

    .cart_item__inner {
        display: flex;
        width: 70%;
    }

    .cart-flex__col.cart-flex__col--product {
        width: 30%;
    }

    .cart-product-item {
        flex-direction: column-reverse;
        align-items: flex-start;
        position: relative;
    }

    .cart-select {
        position: absolute;
        bottom: 73px;
    }

    .woocommerce-cart-form__contents .cart-flex__row.cart_item {
        flex-wrap: wrap;
    }

    .checkout-products-block__contents .cart_item .checkout-products-block__contents__product {
        width: 100%;
    }

    .checkout.woocommerce-checkout {
        flex-direction: column;
    }

    .checkout.woocommerce-checkout .checkout-order-fields {
        width: 100%;
    }

    .checkout.woocommerce-checkout .order-details-area-wrap {
        width: 100%;
    }

}

@media (max-width: 576px) {
    .cart-flex__row.cart_item {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .cart-product-item {
        flex-direction: row;
        align-items: center;
    }

    .cart-flex__col.cart-flex__col--product {
        width: 100%;
    }

    .cart-select {
        position: relative;
        bottom: unset;
    }

    .cart_item__inner {
        display: flex;
        width: 100%;
    }

    .cart-flex__col.cart-flex__col--total {
        align-items: flex-end;
    }

    .cart-flex__row.cart_item {
        border-bottom: 1px dotted #cacaca;
    }

    .checkout-steps__list li a {
        font-size: 16px;
    }
}


@media (max-width: 480px) {
    .cart-flex__col.cart-flex__col--product {
        width: 100%;
        flex: unset;
        max-width: 100%;
    }

    .cart-flex__col.cart-flex__col--total {
        align-items: flex-end;
        gap: 0;
        margin-top: 20px;
    }

    #remove-selected {
        display: none;
    }

    .cart_item__inner {
        flex-wrap: wrap;
    }

    .cart-flex__col {
        width: 50%;
        flex-grow: unset;
        flex: unset;
    }

    .cart-flex__col.cart-flex__col--price {
        align-items: flex-end;
    }

    .checkout-steps__list {
        flex-direction: column;

    }

    .checkout-steps__list li {
        border-bottom: 1px solid #979797;
    }

    .checkout-steps__list a {
        padding: 10px;

    }
}

.wc-block-components-button.wp-element-button.wc-block-cart__submit-button {
    background: var(--theme-color-accent);
    border-radius: 5px;
    transition: all s linear;
}

.wc-block-components-button.wp-element-button.wc-block-cart__submit-button :hover {
    background: var(--theme-color-beige);
    color: var(--theme-color-primary);
}