/* .wc-block-components-sidebar-layout.wc-block-cart {
    padding-top: 0;
    flex-direction: column;
}

.wc-block-components-sidebar-layout .wc-block-components-main {
    box-sizing: border-box;
    margin: 0;
    padding-right: 0;
    width: 100%;
}

.wc-block-components-sidebar {
    box-sizing: border-box;
    padding-left: 0;
    width: 100%;
}

.wc-block-cart-item__wrap {
    display: flex;
    gap: 20px;
} */

.mini-cart-icon {
    width: 30px;
    height: 30px;
    position: relative;
}

.shopping-cart-icon {
    width: 100%;
    height: 100%;
}

.shopping-cart-icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.mini-cart-icon .cart-count {
    background: var(--theme-color-beige);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: -10px;
}

.checkout-steps__list {
    display: flex;
    gap: 0;
    background: #fcfcfc;
    width: 100%;
}

.checkout-steps__list li {
    flex-grow: 1;
    text-align: center;

}

.checkout-steps__list li a {
    font-size: 20px;
    color: #979797;
    padding: 20px;
    display: block;
    transition: all .5s linear;
}

.checkout-steps__list li a.active,
.checkout-steps__list li a:hover {
    background: var(--theme-color-beige);
    color: var(--theme-color-primary);
}

.checkout-steps {
    margin-bottom: 70px;
}

/*flex table*/

.cart-flex {
    width: 100%;
    display: block;
}

.cart-flex__head,
.cart-flex__row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-flex__head {
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}

.cart-flex__row {
    padding: 18px 20px;
    border-bottom: 1px solid #f0f0f0;
}

.cart-flex__col {
    flex: 1;
}

.cart-flex__col--product {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-product-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-flex__category {
    background: #f5f5f5;
    padding: 30px 20px;
    font-size: 26px;
}

.cart-product-item .product-thumb {
    width: 97px;
    height: 97px;
}

.cart-product-item .product-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-product-item a.product-name {
    font-weight: 600;
    color: var(--theme-color-accent);
}

.cart-product-item__name .product-sku {
    color: #898989;
    margin-top: 10px;
}

.cart-flex__col.cart-flex__col--price .price .amount {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #898989;
}

.cart-flex__col__label {
    color: #343434;
    font-weight: 600;
    text-align: center;
}

.cart-flex__col .price .amount bdi {
    text-align: center;
    display: flex;
    justify-content: center;
}

.cart-flex__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart-flex__col.cart-flex__col--total .price span bdi {
    font-weight: 600;
    font-size: 24px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid #cfc8d8;
    padding: 20px;
    margin: 0;
    text-align: left;
    border-radius: 0 0 5px 5px;
}

.review-order .review-order__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d3d1d0;
}

.review-order .review-order__row .review-order__col:first-child {
    font-weight: 600;
    color: #343434;
}

.review-order .review-order__row .review-order__col:nth-child(2) {
    color: #343434;
    font-weight: 400;
    font-size: 16px;
}

.review-order__row .review-order__col .amount bdi {
    font-size: 16px;
    color: #343434;
}

.checkout.woocommerce-checkout {
    display: flex;
    gap: 40px;
}

.checkout.woocommerce-checkout .checkout-order-fields {
    width: calc(60% - 40px);
}

.checkout.woocommerce-checkout .order-details-area-wrap {
    width: 40%;
}

.review-order__col .woocommerce-Price-amount.amount {
    display: flex;
    align-items: center;
}